http://5.9.153.138:9669

git github.com/regalstreak/skadoosh ../skadoosh {
    hook /_skadoosh my-secret-keys
    branch master
    then_long /bin/bash ../checkdiff/checkdiff.sh | tee ../logs/checkdiff-$(date +%Y-%m-%d).log
}
